<ion-view view-title="Deal">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="images/ionic.png">
        <h2>{{deal.title}}</h2>
        <p>{{deal.changed | asDate | date:'dd MMM'}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" ng-src="{{deal.imgUrl}}" alt="Hot Deals image">
        <div ng-bind-html="dealHtmlContent">
        </div>
        <p>
          <a href="#" class="subdued">{{deal.comment_count}} Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#/app/comments/new-comment">
          <i class="icon ion-chatbubble"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-social-facebook"></i>
          Share
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
